body {
  background: #eee;
  font: bold 18px "Helvetica";
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  border: 3px solid #fff;
}

.title {
  background: #e3f4ff;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  width: 450px;
}

.content {
  background: #e3f4ff;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  box-sizing: border-box;
  width: 480px;
  margin: 10px;
  padding: 10px;
  padding-right: 180px;
  padding-left: 175px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 1px;
}